<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="编辑"
            visible="true"
            id="newPmbe.CCPUmenu.actionSet">
         <menu
               label="编辑"
               id="ccpuMenu">
            <separator
                  name="ccpuGroup">
            </separator>
         </menu>
         <action
               label="复制"
               class="newpmbe.ccpumenu.actions.CopyAction"
               
               menubarPath="ccpuMenu/ccpuGroup"
               
               id="newpmbe.ccpumenu.actions.SampleAction">
         </action>
         <action
               label="粘贴"
               class="newpmbe.ccpumenu.actions.PasteAction"
               
               menubarPath="ccpuMenu/ccpuGroup"
               
               id="newpmbe.ccpumenu.actions.SampleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
