<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="newPmbe.print.actionSet1"
            label="打印actionSet"
            visible="true">
         <menu
               id="newPmbe.print.menu1"
               label="打印">
            <separator
                  name="separator1">
            </separator>
            <separator
                  name="separator2">
            </separator>
            <separator
                  name="separator3">
            </separator>
            <separator
                  name="separator4">
            </separator>
            <separator
                  name="separator5">
            </separator>
         </menu>
         <action
               class="newpmbe.print.framework.PrintCurViewAction"
               id="newPmbe.print.curView"
               label="当前视图..."
               menubarPath="newPmbe.print.menu1/separator1"
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintCurSpecAction"
               id="newPmbe.print.curSpec"
               label="过程模型规格说明..."
               menubarPath="newPmbe.print.menu1/separator2"
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintResouceSpecAction"
               id="newPmbe.print.resSpec"
               label="资源模型规格说明..."
               menubarPath="newPmbe.print.menu1/separator2"
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintOrgSpecAction"
               id="newPmbe.print.orgSpec"
               label="组织模型规格说明..."
               menubarPath="newPmbe.print.menu1/separator2"
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintProcessPlanReportAction"
               id="newPmbe.print.proPlanReport"
               label="过程/工程计划报告..."
               menubarPath="newPmbe.print.menu1/separator3"
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintResoucePlanReport"
               id="newPmbe.print.resPlanReport"
               label="角色和资源使用计划报告..."
               menubarPath="newPmbe.print.menu1/separator3"
               style="push">
         </action>
         <action
         	   class="newpmbe.print.framework.PrintIntegrityReport"
               id="newPmbe.print.proCheckReport"
               label="过程模型完整性检查报告..."
               menubarPath="newPmbe.print.menu1/separator4"
               style="push">
         </action>
         <action
               id="newPmbe.print.orgCheckReport"
               label="组织模型完整性检查报告..."
               style="push">
         </action>
         <action
               id="newPmbe.print.resCheckReport"
               label="资源模型完整性检查报告..."
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintCurResource"
               id="newPmbe.print.curUsableResouce"
               label="当前可用资源..."
               menubarPath="newPmbe.print.menu1/separator5"
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintCurRole"
               id="newPmbe.print.curUsableRole"
               label="当前可用角色..."
               menubarPath="newPmbe.print.menu1/separator5"
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintCurTool"
               id="newPmbe.print.curUsableTool"
               label="当前可用工具..."
               menubarPath="newPmbe.print.menu1/separator5"
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintCurLocation"
               id="newPmbe.print.curUsabelLocation"
               label="当前可用场所..."
               menubarPath="newPmbe.print.menu1/separator5"
               style="push">
         </action>
         <action
               class="newpmbe.print.framework.PrintCurMachine"
               id="newPmbe.print.curUsableMachine"
               label="当前可用机器..."
               menubarPath="newPmbe.print.menu1/separator5"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
