<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
         point="org.eclipse.ui.popupMenus">
      <!--过程视图属性对话框扩展点-->
      <!--过程:过程视图-->
      <objectContribution
            objectClass="newpmbe.process.diagram.edit.parts.EMPDiagramEditPart"
            id="newPmbe.PropertyDlg.contributionProcess">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProcessPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenComposePropertyAction">
         </action>
      </objectContribution>
      <!--过程:模拟视图-->
      <objectContribution
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPDiagramEditPart"
            id="newPmbe.PropertyDlg.contributionSimulation">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProcessPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenComposePropertyAction">
         </action>
      </objectContribution>
      <!--产品属性对话框扩展点-->
      <!--组合产品:过程视图-->
      <objectContribution
            objectClass="newpmbe.process.diagram.edit.parts.EMPProductPackageEditPart"
            id="newPmbe.PropertyDlg.contributionComposeProduct">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenComposePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenComposePropertyAction">
         </action>
      </objectContribution>
      <!--组合产品:模拟视图-->
      <objectContribution
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPProductPackageEditPart"
            id="newPmbe.PropertyDlg.contributionSimulationComposeProductSimulation">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenComposePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenComposePropertyAction">
         </action>
      </objectContribution>
      <!--制品：过程视图-->
      <objectContribution
            objectClass="newpmbe.process.diagram.edit.parts.EMPArtifactEditPart"
            id="newPmbe.PropertyDlg.contributionArtifact">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenArtifactPropertyAction">
         </action>
      </objectContribution>
      <!--制品：模拟视图-->
      <objectContribution
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPArtifactEditPart"
            id="newPmbe.PropertyDlg.contributionArtifactSimulation">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenArtifactPropertyAction">
         </action>
      </objectContribution>
      <!--文档：过程视图-->
      <objectContribution
            objectClass="newpmbe.process.diagram.edit.parts.EMPDocumentEditPart"
            id="newPmbe.PropertyDlg.contributionDocument">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenDocumentPropertyAction">
         </action>
      </objectContribution>
      <!--文档：模拟视图-->
      <objectContribution
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPDocumentEditPart"
            id="newPmbe.PropertyDlg.contributionDocumentSimulation">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenDocumentPropertyAction">
         </action>
      </objectContribution>
       <!--表单：过程视图-->
      <objectContribution
            objectClass="newpmbe.process.diagram.edit.parts.EMPFormEditPart"
            id="newPmbe.PropertyDlg.contributionForm">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenFormPropertyAction">
         </action>
      </objectContribution>
      <!--表单：模拟视图-->
      <objectContribution
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPFormEditPart"
            id="newPmbe.PropertyDlg.contributionFormSimulation">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenFormPropertyAction">
         </action>
      </objectContribution>
      <!--其他：过程视图-->
      <objectContribution
            objectClass="newpmbe.process.diagram.edit.parts.EMPOtherEditPart"
            id="newPmbe.PropertyDlg.contributionOther">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenOtherPropertyAction">
         </action>
      </objectContribution>
      <!--其他：模拟视图-->
      <objectContribution
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPOtherEditPart"
            id="newPmbe.PropertyDlg.contributionOtherSimulation">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenOtherPropertyAction">
         </action>
      </objectContribution>
      <!--消息：过程视图-->
      <objectContribution
            objectClass="newpmbe.process.diagram.edit.parts.EMPMessageEditPart"
            id="newPmbe.PropertyDlg.contributionMessage">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenMessagePropertyAction">
         </action>
      </objectContribution>  
      <!--消息：模拟视图-->
      <objectContribution
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPMessageEditPart"
            id="newPmbe.PropertyDlg.contributionMessageSimulation">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenMessagePropertyAction">
         </action>
      </objectContribution>  
      <!--产品视图属性对话框-->
      <objectContribution
            objectClass="newpmbe.product.diagram.edit.parts.EMPDiagramEditPart"
            id="newPmbe.PropertyDlg.contributionProductPackageProduct">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPackagePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductPackagePropertyAction">
         </action>
      </objectContribution> 
      
      <!--模拟产品视图属性对话框-->
      <objectContribution
            objectClass="newpmbe.simulation.product.diagram.edit.parts.EMPDiagramEditPart"
            id="newPmbe.PropertyDlg.contributionSimulationProductPackageProduct">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPackagePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductPackagePropertyAction">
         </action>
      </objectContribution>   
         
      <!--组合产品:产品视图-->
      <objectContribution
            objectClass="newpmbe.product.diagram.edit.parts.EMPProductPackageEditPart"
            id="newPmbe.PropertyDlg.contributionProductComposeProduct">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenComposePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductComposePropertyAction">
         </action>
      </objectContribution>
      <!--组合产品:模拟视图-->
      <objectContribution
            objectClass="newpmbe.simulation.product.diagram.edit.parts.EMPProductPackageEditPart"
            id="newPmbe.PropertyDlg.contributionSimulationProductComposeProduct">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenComposePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductComposePropertyAction">
         </action>
      </objectContribution>
      
      <!--制品：产品视图-->
      <objectContribution
            objectClass="newpmbe.product.diagram.edit.parts.EMPArtifactEditPart"
            id="newPmbe.PropertyDlg.contributionProductArtifact">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductArtifactPropertyAction">
         </action>
      </objectContribution>
      <!--文档：产品视图-->
      <objectContribution
            objectClass="newpmbe.product.diagram.edit.parts.EMPDocumentEditPart"
            id="newPmbe.PropertyDlg.contributionProductDocument">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductDocumentPropertyAction">
         </action>
      </objectContribution>
      <!--表单：产品视图-->
      <objectContribution
            objectClass="newpmbe.product.diagram.edit.parts.EMPFormEditPart"
            id="newPmbe.PropertyDlg.contributionProductForm">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductFormPropertyAction">
         </action>
      </objectContribution>
      <!--其他：产品视图-->
      <objectContribution
            objectClass="newpmbe.product.diagram.edit.parts.EMPOtherEditPart"
            id="newPmbe.PropertyDlg.contributionProductOther">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductOtherPropertyAction">
         </action>
      </objectContribution>
      <!--消息：产品视图-->
      <objectContribution
            objectClass="newpmbe.product.diagram.edit.parts.EMPMessageEditPart"
            id="newPmbe.PropertyDlg.contributionProductMessage">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductMessagePropertyAction">
         </action>
      </objectContribution>      
      <!--制品：模拟产品视图-->
      <objectContribution
            objectClass="newpmbe.simulation.product.diagram.edit.parts.EMPArtifactEditPart"
            id="newPmbe.PropertyDlg.contributionSimulationProductArtifact">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductArtifactPropertyAction">
         </action>
      </objectContribution>
      <!--文档：模拟产品视图-->
      <objectContribution
            objectClass="newpmbe.simulation.product.diagram.edit.parts.EMPDocumentEditPart"
            id="newPmbe.PropertyDlg.contributionSimulationProductDocument">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductDocumentPropertyAction">
         </action>
      </objectContribution>
      <!--其他：模拟产品视图-->
      <objectContribution
            objectClass="newpmbe.simulation.product.diagram.edit.parts.EMPOtherEditPart"
            id="newPmbe.PropertyDlg.contributionSimulationProductOther">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductOtherPropertyAction">
         </action>
      </objectContribution>
      <!--消息：模拟产品视图-->
      <objectContribution
            objectClass="newpmbe.simulation.product.diagram.edit.parts.EMPMessageEditPart"
            id="newPmbe.PropertyDlg.contributionSimulationProductMessage">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenProductPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProductMessagePropertyAction">
         </action>
      </objectContribution>  
      <!--活动属性对话框扩展点-->
      <!--组合活动：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectComposeActivity"
            objectClass="newpmbe.process.diagram.edit.parts.EMPCompActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenComposePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenComposePropertyAction">
         </action>
      </objectContribution>
      <!--组合活动：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectComposeActivitySimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPCompActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenComposePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenComposePropertyAction">
         </action>
      </objectContribution>
      <!--活动：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectNormalActivity"
            objectClass="newpmbe.process.diagram.edit.parts.EMPNormalActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenBasicActivityPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenNormalActivityPropertyAction">
         </action>
      </objectContribution>
      <!--活动：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectNormalActivitySimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPNormalActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenBasicActivityPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenNormalActivityPropertyAction">
         </action>
      </objectContribution>
      <!--自动活动：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectAutoActivity"
            objectClass="newpmbe.process.diagram.edit.parts.EMPAutoActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenBasicActivityPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenAutoActivityPropertyAction">
         </action>
      </objectContribution>
      <!--自动活动：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectAutoActivitySimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPAutoActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenBasicActivityPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenAutoActivityPropertyAction">
         </action>
      </objectContribution>
      <!--自动批处理活动：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectAutoBatchActivity"
            objectClass="newpmbe.process.diagram.edit.parts.EMPAutoBatchActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenBatchActivityPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenAutoBatchActivityPropertyAction">
         </action>
      </objectContribution>
      <!--自动批处理活动：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectAutoBatchActivitySimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPAutoBatchActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenBatchActivityPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenAutoBatchActivityPropertyAction">
         </action>
      </objectContribution>
      <!--手工批处理活动：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectManualBatchActivity"
            objectClass="newpmbe.process.diagram.edit.parts.EMPManualBatchActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenBatchActivityPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenManualBatchActivityPropertyAction">
         </action>
      </objectContribution>
       <!--手工批处理活动：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectManualBatchActivitySimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPManualBatchActivityEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenBatchActivityPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenManualBatchActivityPropertyAction">
         </action>
      </objectContribution>
      <!--抽象资源类型扩展点-->
      <!--抽象场所类型-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectAbstractLocationType"
            objectClass="newpmbe.resource.diagram.edit.parts.EMRAbstractLocationTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenAbstractResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenAbstractLocationTypePropertyAction">
         </action>
      </objectContribution>
      <!--抽象设备类型-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMRAbstractMachineType"
            objectClass="newpmbe.resource.diagram.edit.parts.EMRAbstractMachineTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenAbstractResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenAbstractMachineTypePropertyAction">
         </action>
      </objectContribution>
      <!--抽象工具类型-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMRAbstractToolType"
            objectClass="newpmbe.resource.diagram.edit.parts.EMRAbstractToolTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenAbstractResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenAbstractToolTypePropertyAction">
         </action>
      </objectContribution>
      <!--抽象角色-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMRAbstractRole"
            objectClass="newpmbe.resource.diagram.edit.parts.EMRAbstractRoleEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenAbstractResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenAbstractRolePropertyAction">
         </action>
      </objectContribution>
      <!--角色：资源视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectResourceEMRRole"
            objectClass="newpmbe.resource.diagram.edit.parts.EMRRoleEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenResourceRolePropertyAction">
         </action>
      </objectContribution>
      <!--角色：组织视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectOrganizationEMRRole"
            objectClass="newpmbe.organization.diagram.edit.parts.EMRRoleEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenOrganizationRolePropertyAction">
         </action>
      </objectContribution>
      <!--角色：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMRRole"
            objectClass="newpmbe.process.diagram.edit.parts.EMRRoleEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenOrgResourceInProcessPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessRolePropertyAction">
         </action>
      </objectContribution>
      <!--角色：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMRRoleSimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMRRoleEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessRolePropertyAction">
         </action>
      </objectContribution>
      <!--设备类型:资源视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMRMachineType"
            objectClass="newpmbe.resource.diagram.edit.parts.EMRMachineTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenEMRMachineTypePropertyAction">
         </action>
      </objectContribution>
      <!--设备类型:过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMRMachineType"
            objectClass="newpmbe.process.diagram.edit.parts.EMRMachineTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourceInProcessPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessEMRMachineTypePropertyAction">
         </action>
      </objectContribution>    
      <!--设备类型:模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMRMachineTypeSimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMRMachineTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessEMRMachineTypePropertyAction">
         </action>
      </objectContribution>   
      <!--场所类型：资源视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMRLocationType"
            objectClass="newpmbe.resource.diagram.edit.parts.EMRLocationTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenEMRLocationTypePropertyAction">
         </action>
      </objectContribution>
      <!--场所类型：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMRLocationType"
            objectClass="newpmbe.process.diagram.edit.parts.EMRLocationTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourceInProcessPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessEMRLocationTypePropertyAction">
         </action>
      </objectContribution>
      <!--场所类型：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMRLocationTypeSimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMRLocationTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessEMRLocationTypePropertyAction">
         </action>
      </objectContribution>      
      <!--工具类型：资源视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMRToolType"
            objectClass="newpmbe.resource.diagram.edit.parts.EMRToolTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenEMRToolTypePropertyAction">
         </action>
      </objectContribution>
      <!--工具类型：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMRToolType"
            objectClass="newpmbe.process.diagram.edit.parts.EMRToolTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourceInProcessPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessEMRToolTypePropertyAction">
         </action>
      </objectContribution>   
      <!--工具类型：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMRToolTypeSimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMRToolTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenConcreteResourcePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessEMRToolTypePropertyAction">
         </action>
      </objectContribution>  
      <!--资源组：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMOResourceGroupType"
            objectClass="newpmbe.process.diagram.edit.parts.EMOResourceGroupTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenResourceGroupInProcessPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessEMOResourceGroupTypePropertyAction">
         </action>
      </objectContribution>
      <!--资源组：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectProcessEMOResourceGroupTypeSimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMOResourceGroupTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenResourceGroupPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProcessEMOResourceGroupTypePropertyAction">
         </action>
      </objectContribution>  
      <!--资源组：组织视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectOrganizationEMOResourceGroupType"
            objectClass="newpmbe.organization.diagram.edit.parts.EMOResourceGroupTypeEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenResourceGroupPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenOrganizationEMOResourceGroupTypePropertyAction">
         </action>
      </objectContribution>       
      <!--数据流：活动视图，输出或至产品-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectDataFlowProbability"
            objectClass="newpmbe.process.diagram.edit.parts.EMPDataFlow10EditPart">
         <action
               label="分配路径概率"
               class="newpmbe.propertydlg.popup.actions.OpenProbabilityDlgAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenProbabilityDlgAction">
         </action>
      </objectContribution>          
      <!--时钟：过程视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMPClock"
            objectClass="newpmbe.process.diagram.edit.parts.EMPClockEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenClockPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenClockPropertyAction">
         </action>
      </objectContribution>
      <!--时钟：模拟视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMPClockSimulation"
            objectClass="newpmbe.simulation.diagram.edit.parts.EMPClockEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenClockPropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenClockPropertyAction">
         </action>
      </objectContribution>
      <!--里程碑-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMPMileStone"
            objectClass="newpmbe.process.diagram.edit.parts.EMPMileStoneEditPart">
         <action
               label="打开规格说明"
               class="newpmbe.propertydlg.popup.actions.OpenMileStonePropertyAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenMileStonePropertyAction">
         </action>
      </objectContribution>
      <!--过程视图关联资源视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMPMileStone"
            objectClass="newpmbe.process.diagram.edit.parts.EMPDiagramEditPart">
         <action
               label="关联资源视图"
               class="newpmbe.propertydlg.popup.actions.OpenResourceRelativeAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenResourceRelativeAction">
         </action>
      </objectContribution>  
      <!--过程视图关联组织视图-->
      <objectContribution     
            id="newPmbe.PropertyDlg.objectEMPMileStone"
            objectClass="newpmbe.process.diagram.edit.parts.EMPDiagramEditPart">
         <action
               label="关联组织视图"
               class="newpmbe.propertydlg.popup.actions.OpenOrganizationRelativeAction"          
               enablesFor="1"
               id="newPmbe.PropertyDlg.OpenOrganizationRelativeAction">
         </action>
      </objectContribution>              
   </extension>

</plugin>
